<div class="search">
    <form>
        <div class="search__container">
            <input
                class="search-input"
                type="text"
                [placeholder]="searchPlaceholder"
            />
            <button class="search-button" type="submit">
                <img
                    class="search-icon"
                    src="assets/icons/SearchIcon.svg"
                    alt="Search Icon"
                />
            </button>
        </div>
    </form>
</div>
