.main {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;

    &__date-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
