.main {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    &__header {
        display: flex;
        justify-content: space-between;

        button {
            width: 200px;
        }
    }

    &__date-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
